:root {
    --cor-primaria: #172135;
    --cor-secundaria: #dfdfdf;
    --cor-menuSelecionado: #303f73;
    --cor-menuHover: #3c4e8f;

}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
     background-color: aliceblue;
    padding: 0px;
}

a {
    text-decoration: none;
}

.layout {
    display: flex;
    align-items: flex-start;
}

.barraLateral {
    position: sticky;
    padding: 10px;
    width: 280px;
    height: 100vh;
    background-color: var(--cor-primaria);
    top: 0;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    padding: 0px;
}

.menu ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.menu ul li {
    display: flex;
}

.menuItem {
    background-color: var(--cor-primaria);
    width: 100%;
    margin: 2px 0px;
    padding: 15px 10px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: 0.5s;
}

.menuItem:hover {
    background-color: var(--cor-menuHover);
}

.menu a.active {
    background-color: var(--cor-menuSelecionado);
}

.btSair {
    display: block;
    margin-top: auto;

}

.geral {
    width: 100%;
    background-color: aliceblue;
    flex: 1;
    overflow-y: auto;
}

.barraSuperior {
    width: calc(100% - 280px);
    height: fit-content;
    position: fixed;
    top: 0;
    z-index: 100;
}

.menuSuperior {
    width: 100%;
    height: 100px;
    background-color: aliceblue;
    align-content: center;
    padding: 20px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.userPerfil {
    width: fit-content;
    height: 50px;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0 12px;
    margin-left: auto;
}

.corpo {
    width: 100%;
    height: fit-content;
    padding: 30px;
    padding-top: 180px;
    background-color: aliceblue;

}

.barraTitulo {
    width: 100%;
    height: 45px;
    background-color: var(--cor-primaria);
    padding-left: 30px;
}
