:root {
    --cor-primaria: #172135;
    --cor-secundaria: #dfdfdf;
    --cor-menuSelecionado: #303f73;
    --cor-menuHover: #3c4e8f;
    --cor-geral: aliceblue;
    --font-textos: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

span.material-icons {
    font-size: 25px;
    margin-right: 10px;
}

/* ----------------> BARRA LATERAL E MENU <----------------*/
.barraLateral {
    min-height: 100vh;
    background-color: var(--cor-primaria);
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.menu {
    padding: 0px;
}

.menu ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.menu ul li {
    display: flex;
}

.menuItem {
    background-color: var(--cor-primaria);
    width: 100%;
    margin: 2px 0px;
    padding: 15px 10px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: 0.5s;
    display: flex;
    align-items: center;
}

.menuItem:hover {
    background-color: var(--cor-menuHover);
}

.menu a.active {
    background-color: var(--cor-menuSelecionado);
}

/* ----------------> GERAL <----------------*/

.geral {
    height: 100vh;
    background-color: var(--cor-geral);
    flex: 1;
    overflow-y: auto;
    padding: 0px;
}

/* ----------------> BARRA SUPERIOR E PERFIL <----------------*/
.barraSuperior {
    height: fit-content;
    background-color: var(--cor-geral);
    padding: 0px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.barraPerfil {
    height: 95px;
}

.userPerfil {
    align-self: center;
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    padding: 0px 15px;
}



/* ----------------> BARRA TITULO E CONTEUDO <----------------*/
.barraTitulo {
    height: 50px;
    background-color: var(--cor-primaria);
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 5px;

}

.conteudo {
    height: 100vh;
}

.dashCards {
    height: 300px;
    padding: 25px;

}

.dashCards .card {
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: black 0.5px 0 1px;
    border-radius: 25px;
    border: none;
    gap: 10px;

}

.card span {
    font-size: 50px;
    margin: 0px;
}

